# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# misc
DATA-DIR
env
__pycache__
venv
*.sql
*.zip
*.json
*.cmd
populate.py
config.py
main_test.py
requirements-test.txt