{% extends "layout.html" %}
{% block content %}
<h1> Joukkueet</h1>
<ul>
{% for i in a %}
	<li> {{ i["kisanimi"] }} </li>
	<ul>
	{% for u in i["sarjat"] %}
		<li> {{ u["sarjanimi"] }} </li>
		<ul>
			{% for t in u["joukkueet"] %}
				{% if session["contest"] != i["id"] %}
					<li> {{ t["nimi"] }}</li>
				{% else %}
					<li> <a href={{ url_for("edit", cid=i["id"], did=u["id"], tid=t["id"]) }}> {{ t["nimi"] }} </a> </li>
				{% endif %}
				<ul>
					{% for m in t["jasenet"] %}	
						<li> {{ m }} </li> 
					{% endfor %}
					<li> Rastit: </li>
						<ul>
						{% for l in t["leimaukset"] %}
							<li> <a href={{ url_for("cp", cid=i["id"], did=u["id"], tid=t["id"], lid=l["id"]) }} >  {{ l["koodi"] }} </a> </li> 
						{% endfor %}
						</ul>
				</ul>			
			{% endfor %}
		</ul>
	{% endfor %}
	</ul>
{% endfor %}
</ul>
{% endblock %}
