{% extends "layout.html" %}
{% block content %}
<h1>Muokkaa joukkuetta</h1>
<div>
	<form action="{{request.base_url}}" accept-charset="UTF-8" method="POST">
		<div class="form">
			<fieldset>
				<p> {{ form.name.label }} {{ form.name }} 	 </p>
				<p> {{ form.member1.label }} {{form.member1 }} </p>
				<p> {{ form.member2.label }} {{form.member2 }} </p>
				<p> {{ form.member3.label }} {{form.member3 }} </p>
				<p> {{ form.member4.label }} {{form.member4 }} </p>
				<p> {{ form.member5.label }} {{form.member5 }} </p>
				<p> <button type="submit" name="laheta" value="Luo"> Lisää joukkue </button> </p>
			</fieldset>	
		</div> 
	</form>
</div>
