{% extends "layout.html" %}
{% block content %}
<h1>Lisää joukkue</h1>
<form action="{{request.base_url}}" accept-charset="UTF-8" method="POST">
	<div class="form">
		{{ form.csrf_token }}
			{{ form.name.label(class_="left") }}
			<p> {{ form.name }} <span> {{ form.name.errors[0] }} </span>  </p>
			<p class="clear"> 
				<span> {{ form.member1.errors[0] }} </span> 
			</p>	
			{{ form.member1.label(class_="left") }} <p> {{ form.member1 }} </p>
			{{ form.member2.label(class_="left") }} <p> {{ form.member2 }} </p>
			{{ form.member3.label(class_="left") }} <p> {{ form.member3 }} </p>
			{{ form.member4.label(class_="left") }} <p> {{ form.member4 }} </p>
			{{ form.member5.label(class_="left") }} <p> {{ form.member5 }} </p>
			{{ form.contest }}
			<p> {{ form.submit2 }} </p>               
	</div> 
</form>
{% endblock %}