td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 25px;
	height: 25px;
	margin-left:25%;
	background-color: transparent;
}

.table td {
	position:relative;
	width: 50px;
	padding: 0;
	height: 50px;
	border: 1px solid black;
}	

.form {
	width: 50%;
}

.form label {
	display: inline-block;
	width: 85px;
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}

.button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer; 
}

.hidden {
	visibility :hidden;
}

.table {      
  width: auto;         
}

.names {
	display: block;
	font-size: 1.5em;
	-ms-writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	white-space: nowrap;
	width: 25px;
}

.options li {
  display:inline;
}



